<footer>
    <div class="logo">
        <img src="assets/logos/bluerit-logo-pb.png" alt="">
        <h3>Bluerit</h3>
    </div>

    <div class="icons">
        <a href="#"><i class="fa-brands fa-discord"></i></a>
        <a href="#"><i class="fa-brands fa-btc"></i></a>
        <a href="#"><i class="fa-brands fa-gg"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <div class="terms">
        <ul>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Terms of conditions</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Carrers</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>