@use "/src/app/mixins" as *;

button {
  background: linear-gradient(
    95deg,
    #9adbec 0%,
    #9f9adb 58.45%,
    #a27bd3 90.51%
  );
  border: none;
  @include mainButtons;
  cursor: pointer;

  transition: background .3s ease;

  &:hover{
    background: linear-gradient(
    45deg,
    #9adbec 10%,
    #9f9adb 50%,
    #a27bd3 80%
  );
  transition: background .3s ease;
  }
  }

