<div class="home__container">
  <div class="home__container__blurShapes">
  </div>

  <app-menu-bar></app-menu-bar>
  <app-intro></app-intro>

  <div class="card__container">
    <app-trade-card
      title="All time trade volume for this"
      value="$567894555.00">
    </app-trade-card>

    <app-trade-card
      title="Total trades"
      value="15,670">
    </app-trade-card>

  </div>

  <section class="advantages__section">
    
    <div class="advantages__content">
      <app-default-title title="Trusted and Secure Bitcoin"></app-default-title>
      <app-default-p text="Built on Arbitrum and Avalanche, our decentralized leverage trading exchange focuses on being the best execution environment for trades"></app-default-p>
    </div>

    <div class="advantages__cards">
      <app-gradient-card
        image="assets/second-section/1.png"
        description="Leverage up to 55x">
      </app-gradient-card>

      <app-gradient-card
        image="assets/second-section/2.png"
        description="Low-risk liquidity pools">
      </app-gradient-card>

      <app-gradient-card
        image="assets/second-section/3.png"
        description="Super cheap transactions">
      </app-gradient-card>

      <app-gradient-card
        image="assets/second-section/4.png"
        description="Utilizes the most liquid AMMs">
      </app-gradient-card>

      <app-gradient-card
        image="assets/second-section/5.png"
        description="Permissionless trading">
      </app-gradient-card>

      <app-gradient-card
        image="assets/second-section/6.png"
        description="Fully composable">
      </app-gradient-card>
      
    </div>

  </section>

  <section class="secure-section">
    <div class="secure-section__image">
      <img src="assets/third-section/1.png" alt="">
    </div>

    <div class="secure-section__content">
      <app-default-title
      title="Fully decentralized of completely secure">
      </app-default-title>

      <app-default-p 
      text="We have all been in this industry too long not to make the security of your funds our absolute top priority. We have received multiple audits from Open Zeppelin and Trail of Bits, as well as code reviews from white hat researchers.">
      </app-default-p>

      <div class="secure-section__cards">
        <app-small-card
          image="assets/third-section/2.png"
          text="Constant reviews and testing of our platform">
        </app-small-card>

        <app-small-card
          image="assets/third-section/3.png"
          text="Your funds are as secure as possible">
        </app-small-card>

        <app-small-card
          image="assets/third-section/4.png"
          text="Fully decentralized and non-custodial">
        </app-small-card>

        <app-small-card
          image="assets/third-section/5.png"
          text="Built by seasoned crypto veterans">
        </app-small-card>
      </div>

    </div>
  </section>

  <section class="build-section">

    <div class="build-section__content">
      <app-default-title
        title="Built on web3 Owned by you">
      </app-default-title>

      <app-default-p
        text="We have all been in this industry too long not to make the security of your funds our absolute top priority. We have received multiple audits from Open Zeppelin and Trail of Bits, as well as code reviews from white hat researchers.">
      </app-default-p>
    </div>
    
    <div class="build-section__image">
      <img src="assets/fourth-section/1.png" alt="">
    </div>

  </section>

  <section class="arbitrum__section">
    <div class="arbitrum__section__content">
      
      <app-default-title
        title="Take full advantage of everything Arbitrum and Avalanche have to offer.">
      </app-default-title>

      <div class="arbitrum__section__cards">
        <app-small-card
          image="/assets/fifth-section/2.png"
          text="Say goodbye to eye-watering gas fees">
        </app-small-card>

        <app-small-card
          image="/assets/fifth-section/3.png"
          text="Execute your trades instantly">
        </app-small-card>

        <app-small-card
          image="/assets/fifth-section/4.png"
          text="Trade from any device">
        </app-small-card>

        <app-small-card
          image="/assets/fifth-section/5.png"
          text="Gain leveraged exposure on unique token pairs">
        </app-small-card>
      </div>
    
    </div>
    
    <div class="arbitrum__section__image">
      <img src="/assets/fifth-section/1.png" alt="">
    </div>
  
  </section>

  <section class="subscribe__section">
    <app-subscribe-card></app-subscribe-card>
  </section>

  <app-footer></app-footer>

</div>