<div class="home__container">
  <app-menu-bar></app-menu-bar>
  <app-intro></app-intro>

  <div class="card__container">
    <app-trade-card
      title="All time trade volume for this"
      value="$567894555.00">
    </app-trade-card>

    <app-trade-card
      title="Total trades"
      value="15,670">
    </app-trade-card>

  </div>

  <section class="advantages">
    
    <div class="advantages__content">
      <app-default-title title="Trusted and Secure Bitcoin"></app-default-title>
      <app-default-p text="Built on Arbitrum and Avalanche, our decentralized leverage trading exchange focuses on being the best execution environment for trades"></app-default-p>
    </div>

    <div class="advantages__cards">
      <app-gradient-card></app-gradient-card>
      <app-gradient-card></app-gradient-card>
      <app-gradient-card></app-gradient-card>
      <app-gradient-card></app-gradient-card>

    </div>

  </section>
</div>