.home__container {
  display: flex;
  flex-direction: column;
  gap: 7em;
  position: relative;
  overflow-x: hidden;
  padding: 0 1.5em;
}

.home__container__blurShapes{
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: 
  radial-gradient(circle at right top, #ffffff66 45px, transparent 400px),
  radial-gradient(circle at left 7%, #ed8c3861 300px, transparent 100px),
  radial-gradient(circle at right 25%, #ffffff29 500px, transparent 150px),
  radial-gradient(circle at left 45%, #4ee39d40 500px, transparent 150px),
  radial-gradient(circle at right 80%, #ff05e640, 450px, transparent 150px),
  radial-gradient(ellipse at right 100%, #4ee39d40 700px, transparent 200px);
  
  filter: blur(150px);
  z-index: -999;
}

.card__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  @media screen and (max-width:900px) {
    flex-direction: column;
  }
}

.advantages__section{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.advantages__content{
  text-align: center;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  @media screen and (max-width:900px){
    width: 100%;
  }
  
}

.advantages__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6em;
  column-gap: 6em;
  @media screen and (max-width:900px) {
    grid-template-columns: 1fr;
  }
}

.secure-section{
  display: flex;
  gap: 2em;
  // border: 1px solid red;
  @media screen and (max-width:900px) {
    flex-direction: column;
    text-align: center;
  }
}

.secure-section__image{
  flex: 1;
}

.secure-section__image img{
  display: block;
  width: 100%;
  margin: auto;
}

.secure-section__content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.secure-section__cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5em;
  @media screen and (max-width:900px) {
    grid-template-columns: 1fr;
  }
}

.build-section{
  // border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.build-section__content{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 65%;
  @media screen and (max-width:900px) {
    width: 100%;
  }
}

.build-section__image{
  max-width: 100%;
}

.build-section__image img{
  display: block;
  width: 100%;
}

.arbitrum__section{
  display: flex;
  gap: 5em;
  // border: 1px solid red;
  @media screen and (max-width:900px) {
    flex-direction: column;
    text-align: center;
  }
}

.arbitrum__section__content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
}

.arbitrum__section__cards{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.arbitrum__section__image{
  max-width: 100%;
}

.arbitrum__section__image img{
  
  height: 100%;
  display: block;
  @media screen and (max-width:600px) {
    width: 100%;
    height: initial;
  }
}

.subscribe__section{
  @media screen and (max-width:900px) {
    max-width: 500px;
    
  }
}