.gradient-card{
    background: radial-gradient(100% 100% at 50% 0%, rgba(143, 46, 15, 0.65) 0%, rgba(7, 7, 28, 0.10) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 10em;
    gap: 1em;
}

.gradient-card img{
    display: block;
    max-width: 50%;
    max-height: 130px;
    margin: 0 auto;
    // position: relative;
    // top: -25%;
}

.gradient-card p{
    font-weight: 600;
    font-size: 1.2em;
}