<div class="subscribe__container">

    <div class="subscribe__container__blurImages">
        <img src="assets/subscribe-section/blur-branding.png" alt="">
        <img src="assets/subscribe-section/blur-branding.png" alt="">
    </div>
    
    <div class="subscribe__container__content">
        <app-default-title 
            title="Subscribe to our server">
        </app-default-title>

        <app-default-p
        text="We have all been in this industry too long not to make the security of your funds our absolute top priority. We have received multiple audits from Open Zeppelin and Trail">
        </app-default-p>

        <div class="subscribe__cards">
            <div class="input-label">
                <app-input-label></app-input-label>
            </div>
            <div class="input-button">
                <app-input-button></app-input-button>
            </div>
        </div>
    </div>

</div>