@use "/src/app/mixins" as *;

button {
  border: 1px solid #b529dd;
  background: none;
  transition: all .4s ease;
  @include mainButtons;
  cursor: pointer;
  &:hover{
    background: #b529dd;
    
  }
}
